@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  display: flex;
  width: max-content;
  animation: scrollLeft 50s linear infinite;
}

.animate-scroll-right {
  display: flex;
  width: max-content;
  animation: scrollRight 50s linear infinite;
}
